publish/wwwroot/resimaraba/*
publish/wwwroot/resimaraba/
# Derlenmiş (build edilmiş) dosyalar
bin/
obj/

# Kullanıcı ayarları
*.user
*.suo
*.userosscache
*.sln.docstates

# Geliştirme ve IDE dosyaları
.vscode/
.idea/
*.log
*.DS_Store
Thumbs.db

# ASP.NET ve diğer frameworklere özgü hassas dosyalar
appsettings.json
appsettings.Development.json
secrets.json

# Geçici dosyalar
*.tmp
*.bak
*.swp

# Paket yöneticisi klasörleri
node_modules/
vendor/
wwwroot/lib/
wwwroot/uploads/
wwwroot/img/
wwwroot/emlakresimler
wwwroot/resimaraba
wwwroot/uploads

# Yayınlama ve dağıtım dosyaları
publish/
*.publishsettings

# Çeşitli IDE dosyaları
.ReSharper
*.resharper
.vs/

# PHP yapılandırma dosyaları
*.env
.env.local
.env.*.php
config.php
database.php

