/* .navbar-brand {
    color: #ffffff;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #007bff;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: #007bff;
    background-color: transparent;
}

@media (max-width: 768px) {
    .nav-item {
        width: 100%;
    }

    .nav-link {
        width: 100%;
    }
} */
