
    <div class="container bg-light p-5">
        <div class="row mb-4">
            <div class="col text-center">
                <h3 class="text-dark">Yatırım yapmak istiyorsanız net çözüm <i class="text-primary fs-1">DB Emlak</i></h3>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-center">
                <h4 class="text-secondary">Hizmetlerimiz</h4>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 mb-3">
                <div class="card text-end shadow-lg" style="width: 18rem;">
                    <a href="#" class="card-body btn btn-outline-primary">
                        <h5 class="card-title">Yatırım Yapmak mı İstiyorsun?</h5>
                        <p class="card-text">Detaylı bilgi ve yönlendirme için bizimle iletişime geçin.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card text-end shadow-lg" style="width: 18rem;">
                    <a href="#" class="card-body btn btn-outline-primary">
                        <h5 class="card-title">Arsanı Değerlendirmek mi İstiyorsun?</h5>
                        <p class="card-text">Uzman ekibimiz ile arsanızın değerini öğrenin.</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card text-end shadow-lg" style="width: 18rem;">
                    <a href="#" class="card-body btn btn-outline-primary">
                        <h5 class="card-title">Bize Ulaşın</h5>
                        <p class="card-text">Sorularınız ve detaylı bilgi için bize ulaşın.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

