
 body { /*background: linear-gradient(135deg, #feffff 0%, rgb(39, 180, 245) );  */
    /* background: linear-gradient(to bottom, #9de0ff, #ffffff); */
     background: linear-gradient(to bottom, #71ccf6, #ffffff, #ffffff,#ffffff, #ffffff, #71ccf6); 

}
.arsa-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.arsa-text-filtre {
    width: 60px;
    margin: auto;
    border: none; /* Border kaldırma */
    color: #333; /* Metin rengi */
    background-color: #ffffff; /* Arkaplan rengi */
    padding: 10px; /* İç boşluk */
    border-radius: 5px; /* Kenar yuvarlatma */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
    transition: border-color 0.3s ease;
    font-size: 12px;
    
}

.arsa-text-filtre:focus {
    outline: none; /* Odaklanma anında mavi çerçeveyi kaldırma */
    border: 2px solid #007bff; /* Odaklanma anında sınır rengi */
}

.search-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input,
.search-bar select,
.search-bar button {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}
.container-top {
    border: #007bff 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
.filters {
    display: flex;
    gap: 20px;
}

.filter-item {
    flex: 1;
}

.filter-item span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.range-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    background: #ddd;
    height: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.location-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    max-width: 300px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}