<div class="otomobil-top">
    <h1>otomobil-top sayfası</h1>
    <div class="otomobiller">
        
        <div class="arabalar">
            @await Html.PartialAsync("Arabalar/_ArabaHomeCardPartial")
        </div>
    </div>
</div>